{
    "plugins": ["add-module-exports"],
    "presets": [
      ["@babel/preset-env",
        {
          "modules": "commonjs",
          "useBuiltIns": "entry",
          "targets": {
            "node": "8.9.3",
            "chrome": "60"
          }
        }
      ],
    ]
}
